@import "tailwindcss";

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        cursor: none !important;
    }

}

@theme {
  --font-boom: "Bangers", cursive;
  --font-dialogue: "Comic Neue", cursive;
  
  --shadow-comic: 6px 6px 0px 0px rgba(0,0,0,1);
  --shadow-comic-hover: 2px 2px 0px 0px rgba(0,0,0,1);

  --animate-fade-out: fadeOut var(--fade-duration, 8s) ease-out forwards;
  --animate-rocking: rocking 2s ease-in-out infinite;
  --animate-scale-up-scale-down: scaleUpDown 2s ease-in-out infinite;

  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  @keyframes rocking {
    0%, 100% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
  }

  @keyframes scaleUpDown {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
  }
}

.text-shadow-comic { 
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}