@import "tailwindcss";

@layer base {
    html {
        scroll-behavior: smooth;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        cursor: none !important;
    }

}

@theme {
  --font-boom: "Bangers", cursive;
  --font-dialogue: "Comic Neue", cursive;
  
  --shadow-comic: 6px 6px 0px 0px rgba(0,0,0,1);
  --shadow-comic-hover: 2px 2px 0px 0px rgba(0,0,0,1);

  --animate-fade-out: fadeOut var(--fade-duration, 5s) ease-out forwards;
  --animate-rocking: rocking 2s ease-in-out infinite;
  --animate-scale-up-scale-down: scaleUpDown 2s ease-in-out infinite;

  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  @keyframes rocking {
    0%, 100% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
  }

  @keyframes scaleUpDown {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
  }


    /*@keyframes comic-spin {*/
    /*    0% { transform: rotate(0deg) scale(1); }*/
    /*    50% { transform: rotate(180deg) scale(1.08); }*/
    /*    100% { transform: rotate(360deg) scale(1); }*/

    /*}*/

    /*.animate-comic-spin {*/
    /*    animation: comic-spin 8s infinite linear;*/
    /*}*/

    /*@keyframes comic-pulse-glow {*/
    /*    0%, 100% {*/
    /*        box-shadow: 0 0 0px #000, 6px 6px 0px #FACC15, 12px 12px 0px #EF4444;*/
    /*    }*/
    /*    50% {*/
    /*        box-shadow: 0 0 0px #000, 10px 10px 0px #FACC15, 18px 18px 0px #EF4444;*/
    /*    }*/
    /*}*/
    /*.comic-layered-glow {*/
    /*    animation: comic-pulse-glow 1.5s ease-in-out infinite;*/
    /*}*/
}

.text-shadow-comic { 
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}

.bg-burst {
    background-image: url("/assets/bg/burst.svg");
    background-size: cover;
    background-position: center center;
    color: black;
}